<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Vooders.com: {{{ title }}}</title>
    <link rel='stylesheet' href='/css/bulma.min.css' />
    <link rel='stylesheet' href='/css/style.css' />

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
    {{> layouts/nav}}
    <div class="content">
      {{{ body }}}
    </div>
  </body>
</html>
